In [12]:
import numpy as np
import pandas as pd
import pylab as pl

from sklearn.linear_model import Ridge

prediction_files = ['prediction_rf.csv', 'prediction_ens_rf.csv']

df_prediction = [pd.read_csv(file) for file in prediction_files]

def get_stacked(df_prediction):
    df_stack = df_prediction[0].rename(columns={'Sales': 'Sales_0'})
    for i in range(1, len(df_prediction)):
        df_stack = pd.merge(df_stack, df_prediction[i].rename(columns={'Sales': 'Sales_' + str(i)}), on='Id')
    return df_stack

get_stacked(df_prediction)

          Id       Sales_0       Sales_1
0          1   4334.378070   4403.527809
1          2   7686.154676   7845.815549
2          3   9525.090339   9344.070738
3          4   7790.480961   7800.254400
4          5   7536.729341   7847.295023
5          6   5893.576401   6050.945347
6          7   7832.651976   8123.797107
7          8   8542.237411   8631.579561
8          9   5670.529577   5771.394317
9         10   5831.200083   5937.933101
10        11   7645.299538   7218.366725
11        12   8246.607141   8470.816263
12        13   7233.017755   7509.379025
13        14   9213.386786   9704.078959
14        15   6044.934401   6204.798057
15        16   5046.042391   5075.325068
16        17   5876.383939   5875.543385
17        18  10133.477537  10294.795675
18        19  10664.814381  11240.477448
19        20  10260.030643  10593.520011
20        21   7855.498619   8372.437535
21        22   4698.108276   4723.377590
22        23   6074.588901   6069.477351
23        24   4533.320786   4640.613260
24        25   7589.892533   8031.634299
25        26  11451.903080  11802.905655
26        27   9930.563318   9881.504240
27        28   5999.196940   6155.924671
28        29   5425.349604   5777.702127
29        30   4805.894796   4885.187702
...      ...           ...           ...
41058  41059   2840.745672   2981.526447
41059  41060   6400.737815   6150.344864
41060  41061   6550.215617   6678.367409
41061  41062  11081.716816  10988.459612
41062  41063   5978.397990   6177.704771
41063  41064   5848.358859   5823.881779
41064  41065   3925.764075   4165.436978
41065  41066   6382.580732   6724.062020
41066  41067   3118.790877   3262.934701
41067  41068  10684.971605  10981.327789
41068  41069   7206.526676   7939.047165
41069  41070  12784.484937  12846.334626
41070  41071   5806.202217   5834.414734
41071  41072   5386.908366   5486.226396
41072  41073   8843.333610   8928.346048
41073  41074   8667.386154   8577.994338
41074  41075   3185.798078   3304.462174
41075  41076   8381.583176   9467.799972
41076  41077   6725.200152   6861.698802
41077  41078   5999.293826   5957.118414
41078  41079   6083.596451   6400.883130
41079  41080   4838.114339   5185.876538
41080  41081   3228.453001   3150.896727
41081  41082   5545.047129   5715.182070
41082  41083   3857.288724   3728.250926
41083  41084   2800.604947   2797.173641
41084  41085   7014.613860   7704.325801
41085  41086   6060.060493   6432.973421
41086  41087  23088.189625  23036.931512
41087  41088   7077.453875   7423.971888

[41088 rows x 3 columns]

In [13]:
df_prediction = [pd.read_csv(file) for file in prediction_files]
    
coeffs = np.array([0.5, 1.5])
assert len(prediction_files) == len(coeffs)

print('Means ', [df.Sales.mean() for i, df in enumerate(df_prediction)])
print('coeffs', coeffs)

assert coeffs.sum() == len(coeffs)

for i in range(len(df_prediction)):
    df_prediction[i].Sales = coeffs[i]*df_prediction[i].Sales
    
df_stack = get_stacked(df_prediction)
df_stack['Sales'] = df_stack[['Sales_' + str(i) for i in range(len(df_prediction))]].mean(axis=1)

df_stack[['Id','Sales']].to_csv('prediction.csv', index=False)
print('prediction.csv was created')
df_stack.Sales

Means  [5881.406364289439, 5914.077770171188]
coeffs [ 0.5  1.5]
prediction.csv was created

0         4386.240374
1         7805.900331
2         9389.325638
3         7797.811040
4         7769.653602
5         6011.603111
6         8051.010824
7         8609.244024
8         5746.178132
9         5911.249847
10        7325.099928
11        8414.763982
12        7440.288708
13        9581.405916
14        6164.832143
15        5068.004399
16        5875.753524
17       10254.466141
18       11096.561681
19       10510.147669
20        8243.202806
21        4717.060262
22        6070.755238
23        4613.790141
24        7921.198858
25       11715.155011
26        9893.769009
27        6116.742738
28        5689.613996
29        4865.364476
             ...
41058     2946.331253
41059     6212.943102
41060     6646.329461
41061    11011.773913
41062     6127.878076
41063     5830.001049
41064     4105.518752
41065     6638.691698
41066     3226.898745
41067    10907.238743
41068     7755.917042
41069    12830.872204
41070     5827.361605
41071     5461.396888
41072     8907.092939
41073     8600.342292
41074     3274.796150
41075     9196.245773
41076     6827.574139
41077     5967.662267
41078     6321.561460
41079     5098.935988
41080     3170.285795
41081     5672.648335
41082     3760.510376
41083     2798.031467
41084     7531.897816
41085     6339.745189
41086    23049.746040
41087     7337.342385
Name: Sales, dtype: float64

In [14]:
del df_stack, df_prediction