In [21]:
import numpy as np
import pandas as pd
import pylab as pl

from sklearn.linear_model import Ridge

prediction_files = ['prediction_rf.csv', 'prediction_weights.csv', 'prediction_ridge.csv', 'prediction_ens_rf.csv']

df_prediction = [pd.read_csv(file) for file in prediction_files]

def get_stacked(df_prediction):
    df_stack = df_prediction[0].rename(columns={'Sales': 'Sales_0'})
    for i in range(1, len(df_prediction)):
        df_stack = pd.merge(df_stack, df_prediction[i].rename(columns={'Sales': 'Sales_' + str(i)}), on='Id')
    return df_stack

get_stacked(df_prediction)

          Id       Sales_0       Sales_1       Sales_2       Sales_3
0          1   4334.378070   4787.007214   4176.768576   4468.440867
1          2   7686.154676   8080.993636   7758.013861   7870.083437
2          3   9525.090339  10346.925177   9652.443704   9405.143000
3          4   7790.480961   7717.238893   8598.911658   8009.012645
4          5   7536.729341   7604.183504   8057.198036   7777.313266
5          6   5893.576401   6030.074381   5962.290136   5921.263673
6          7   7832.651976   8351.561036   7797.399921   7643.246639
7          8   8542.237411   8595.822056   8649.256996   8445.055623
8          9   5670.529577   5877.829757   5598.523072   5690.947972
9         10   5831.200083   6102.277618   5956.811516   5733.850330
10        11   7645.299538   7697.175670   7418.414954   7571.977597
11        12   8246.607141   8620.048666   8558.305639   8195.460090
12        13   7233.017755   7802.205016   7754.515271   7305.024428
13        14   9213.386786   9908.287930  10022.184374  10098.637256
14        15   6044.934401   6305.281456   6353.655355   5866.352057
15        16   5046.042391   5109.448544   5093.953776   5037.296797
16        17   5876.383939   6223.727170   5914.574613   5936.104620
17        18  10133.477537  10505.627302  10607.144075  10154.715062
18        19  10664.814381  12299.329667  11540.286584  11059.396236
19        20  10260.030643  10835.776477  10514.148081  10344.084139
20        21   7855.498619   8335.949105   9002.223861   8042.822606
21        22   4698.108276   5615.871756   4863.383103   4694.687740
22        23   6074.588901   6483.891901   6094.863546   6045.169178
23        24   4533.320786   4888.260625   4443.788892   4619.012609
24        25   7589.892533   8632.287149   8112.450241   7610.243527
25        26  11451.903080  12033.650430  12422.542275  11774.347575
26        27   9930.563318  10066.748751   9451.193915  10110.514976
27        28   5999.196940   6270.106688   6279.980584   5948.886057
28        29   5425.349604   6231.767453   5902.501638   5445.811459
29        30   4805.894796   5252.623866   4477.935627   4830.695737
...      ...           ...           ...           ...           ...
41058  41059   2840.745672   2968.905280   2749.605568   2865.623659
41059  41060   6400.737815   5626.638311   5757.619602   6363.465105
41060  41061   6550.215617   6309.453287   6049.251398   6973.429788
41061  41062  11081.716816  10681.539057   9895.048064  11354.070636
41062  41063   5978.397990   5803.400520   6432.688953   5985.387043
41063  41064   5848.358859   5740.527740   5393.312221   5799.903565
41064  41065   3925.764075   4035.375658   3434.981748   3994.946502
41065  41066   6382.580732   6073.340299   6288.100961   7061.309836
41066  41067   3118.790877   3195.375622   3099.455479   3060.872776
41067  41068  10684.971605  10341.795753   9755.506789  10874.878540
41068  41069   7206.526676   7007.253808   7503.614338   7960.817238
41069  41070  12784.484937  13444.403913  12963.697356  12993.803794
41070  41071   5806.202217   5903.066122   5782.695994   5778.213723
41071  41072   5386.908366   4991.838277   5139.593686   5378.803655
41072  41073   8843.333610   7595.637512   7249.813072   8968.000395
41073  41074   8667.386154   7666.395638   8349.000338   8934.489756
41074  41075   3185.798078   3090.361728   2989.792898   3091.447506
41075  41076   8381.583176   8440.115055   8922.264778   8880.893162
41076  41077   6725.200152   6794.012627   6346.693484   6709.797781
41077  41078   5999.293826   5382.674849   5664.012286   5899.134478
41078  41079   6083.596451   5969.289408   5704.849772   6341.538192
41079  41080   4838.114339   4588.049450   4988.882877   4831.725817
41080  41081   3228.453001   2971.419055   3219.760730   3174.715241
41081  41082   5545.047129   5372.646148   4992.708443   5583.969666
41082  41083   3857.288724   3641.444876   3523.744412   3762.611260
41083  41084   2800.604947   2895.002130   2660.906231   2714.890891
41084  41085   7014.613860   7825.615459   6601.993177   7796.831554
41085  41086   6060.060493   5795.697585   6127.448734   6681.044589
41086  41087  23088.189625  21939.983949  24050.939328  22761.299203
41087  41088   7077.453875   7148.155436   7767.932952   6994.962100

[41088 rows x 5 columns]

In [29]:
df_prediction = [pd.read_csv(file) for file in prediction_files]
    
coeffs = np.array([1.5, 0.5, 0.5, 1.5])

print('Means ', [df.Sales.mean() for i, df in enumerate(df_prediction)])
print('coeffs', coeffs)

assert coeffs.sum() == len(coeffs)

for i in range(len(df_prediction)):
    df_prediction[i].Sales = coeffs[i]*df_prediction[i].Sales
    
df_stack = get_stacked(df_prediction)
df_stack['Sales'] = df_stack[['Sales_' + str(i) for i in range(len(df_prediction))]].mean(axis=1)

df_stack[['Id','Sales']].to_csv('prediction.csv', index=False)
df_stack.Sales

Means  [5881.406364289439, 5972.760133056349, 5867.001751621936, 5920.685859900287]
coeffs [ 1.5  0.5  0.5  1.5]

0         4421.529075
1         7813.465229
2         9598.758612
3         7964.328921
4         7700.438670
5         5929.610592
6         7822.082100
7         8525.869769
8         5695.098185
9         5844.280047
10        7595.927754
11        8313.069500
12        7396.355854
13        9733.318054
14        6049.099523
15        5056.677485
16        5946.970932
17       10247.168647
18       11126.531013
19       10395.283613
20        8129.142080
21        4832.205364
22        6117.253710
23        4598.631213
24        7793.143196
25       11766.868084
26        9955.147193
27        6049.292033
28        5593.469035
29        4830.041387
             ...
41058     2854.702355
41059     6209.608334
41060     6616.205112
41061    10985.493685
41062     6015.930571
41063     5759.828404
41064     3904.061142
41065     6586.639120
41066     3104.227758
41067    10597.106622
41068     7501.612486
41069    12967.870933
41070     5804.876242
41071     5303.571003
41072     8534.931575
41073     8602.627963
41074     3113.986422
41075     8643.726106
41076     6680.712489
41077     5842.746506
41078     6118.692888
41079     4823.306599
41080     3175.085564
41081     5469.050622
41082     3753.111155
41083     2762.799485
41084     7357.743110
41085     6268.307695
41086    22942.423720
41087     7141.667039
Name: Sales, dtype: float64

In [ ]:
del df_stack, df_prediction